body {
    background-color: chartreuse;
}

h1 {
    text-align: center;
    text-shadow: 3px 3px 2px grey;
    font-size: 50px;
    font-family: 'Exo 2', sans-serif;
}

.coluna{
    float: left;
    width: 20%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

P {
    font-size: 40px;
}