body {
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    text-shadow: 3px 3px 2px gray;
    font-size: 50px;
    font-family: 'Alexandria', sans-serif;
}

.coluna{
    float: left;
    width: 25%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

p {
    font-size: 28px;
}